body{
    background-color: rgb(225, 252, 255);
}
h1{
    font-size: 70px;
}
#favoriteCheckedBtn{
    margin-left: 50px;
    height: 60px;
    width: 285px;
}
.content{
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card{
    height: auto;
}

.headerFavorite{
    height: 50px;
    background-color: rgb(59, 59, 59);
    color: white;
    margin-bottom: 0;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}

button{
    border-radius: 20px;
}
.title{
    background-color: rgb(59, 59, 59);
    justify-content: space-around;
    border-radius: 5px;
}

.checkBox{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.headerIndex{
    height: 50px;
    background-color: rgb(59, 59, 59);
    color: white;
    margin-bottom: 0;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    padding-right: 3rem;
    width: 14rem;
}
.content_card{
    height: 180px;
}
.form-check-label{
    padding: 0;
    margin: 0;
}
.programming{
    background-color: rgb(152, 207, 255);
}
.general{
    background-color: antiquewhite;
}
.knock-knock{
    background-color: rgb(165, 250, 250);
}